@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}
#navbar{
  
  box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1), 10px 10px 30px 4px rgba(45,78,255,0.15);
}

/* #badge{
  display: flex;
  height: 0.5rem;
  width: 0.5rem;
  
} */































































































